.navbar-custom {
    background-color: white;
}

#ContentTitle {
    text-align: center;
    font-size: 48px;
}

section {
    background-color: #f7f7f7;
    padding-top: 55px;
    padding-bottom: 55px;
}

 .footer {
    position: ;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px; 
    background-color: #161e2c;
    color: white;
    text-align: center;
 }


 #button {
     text-align: center;
 }

 #FirstCard {
     background-image: src=("https://github.com/CBArgento/WIP/blob/master/Assets/logo.JPG?raw=true");
     width: 100%;
 }

 #img1 {
     position: relative;
     height: 500px;
     width: 100%;
     position: fixed;
 }

 .hero-image{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(..Assets/Developers.jpg) no-repeat center;
    background-size: cover;
 }

 .container1{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     overflow: hidden
     text-align: center;
 }

 #icons {
    padding-right: 1em;
 }
 #iconsstyle {
     text-align: center;
     font-size: 60px;
     color: #aaf683;
     padding-top: 15px;
     padding-bottom: 15px;
     
 }

 .spacer {
     padding: 25px;
 }

 #Name {
     font-weight: bold;
     font-size: 30px;
 }

 .cardtext {
     padding-top: 85px;
     padding-bottom: 15px;
 }